{
    "url": "YOUR_TARGET_URL",
    "check_interval_seconds": 1800,
    "cookies": [
        {
            "name": "JSESSIONID",
            "value": "YOUR_JSESSIONID",
            "domain": "jwglxt.gpnu.edu.cn",
            "path": "/"
        },
        {
            "name": "wengine_new_ticket",
            "value": "YOUR_WENGINE_NEW_TICKET",
            "domain": "jwglxt.gpnu.edu.cn",
            "path": "/"
        },
        {
            "name": "route",
            "value": "YOUR_ROUTE",
            "domain": "jwglxt.gpnu.edu.cn",
            "path": "/"
        }
    ],
    "email_config": {
        "smtp_server": "smtp.163.com",
        "smtp_port": 465,
        "sender_email": "YOUR_SENDER_EMAIL@163.com",
        "sender_password": "YOUR_SENDER_PASSWORD",
        "receiver_email": "YOUR_RECEIVER_EMAIL"
    },
    "xpath": {
        "search_button": "/html/body/div[2]/div/div/div[3]/div[2]/button",
        "course_name_cell": "td[aria-describedby$='_kcmc']"
    }
}
