{
    "login_url": "",
    "grades_url": "",
    "url": "",
    "check_interval_seconds": 1800,
    "user_data_dir": "pw_profile",
    "email_config": {
        "smtp_server": "smtp.163.com",
        "smtp_port": 465
    },
    "ocr": {
        "base_url": "",
        "model": "",
        "timeout_seconds": 30,
        "max_retries": 3
    },
    "xpath": {
        "search_button": "/html/body/div[2]/div/div/div[3]/div[2]/button",
        "course_row": "tr.jqgrow",
        "course_name_cell": "td[aria-describedby$='_kcmc']",
        "total_score_cell": "td[aria-describedby$='_cj']",
        "detail_button": "a[title='查看成绩详情'], a:has-text('查看成绩详情')",
        "detail_modal": "div[role='dialog']:has-text('查看成绩详情')",
        "detail_rows": "table tbody tr",
        "detail_item_cell": "td:nth-child(1)",
        "detail_ratio_cell": "td:nth-child(2)",
        "detail_score_cell": "td:nth-child(3)",
        "detail_close_button": "button:has-text('关闭')"
    },
    "login": {
        "username_input": "#userName",
        "password_input": "#password",
        "submit_button": "button.index-submit-1UOCo.index-logining-HO9Db",
        "captcha_input": "#captcha",
        "captcha_image": ".index-captcha-2FKeU img",
        "captcha_image_fallback": "div[class^='index-captcha-'] img",
        "captcha_refresh": ".index-codeMask-20jm4",
        "switch_to_password": ".index-qr_btn-3JpGS.index-sj_btn-11Xsa",
        "switch_account_btn": ""
    }
}
